//running on PBS so defined labels for allocation of resources

//container parameters; ensure these are OK for your system
//containers are defined per process below
singularity {

  enabled = "true"
  autoMounts = "true"
  cacheDir = "/data/genome/singularity"

}

params {

  //containers
  containerPath = "$singularity.cacheDir"
  containerID = "brucemoran-Singularity-master-aracne-ap.centos7.simg"

  //NB that task.memory causes some tools to fail, so using these predefs here
  full_javamem = "-Xmx120g"
  half_javamem = "-Xmx60g"
  quarter_javamem = "-Xmx30g"
  eighth_javamem = "-Xmx15g"
  twentieth_javamem = "-Xmx5g"

}

process {

  //containers per process
  container = "${params.containerPath}/${params.containerID}"

  withLabel: full_cpu_mem {
      cpus = 40
      memory = 120.GB
      queue = 'batch'
      executor ='pbs'
  }
  withLabel: half_cpu_mem {
      cpus = 20
      memory = 60.GB
      queue = 'batch'
      executor ='pbs'
  }
  withLabel: quarter_cpu_mem {
      cpus = 10
      memory = 30.GB
      queue = 'batch'
      executor ='pbs'
  }
  withLabel: sixth_cpu_mem {
      cpus = 8
      memory = 24.GB
      queue = 'batch'
      executor ='pbs'
  }
  withLabel: eighth_cpu_mem {
      cpus = 5
      memory = 15.GB
      queue = 'batch'
      executor ='pbs'
  }
  withLabel: twentieth_cpu_mem {
      cpus = 2
      memory = 6.GB
      queue = 'batch'
      executor ='pbs'
  }
}
