//running on PBS so defined labels for allocation of resources

//container parameters; ensure these are OK for your system
//containers are defined per process below
//runOptions to bind in references

singularity {

  enabled = "true"
  autoMounts = "true"
  cacheDir = "/data/genome/singularity"
  runOptions = "--bind /data:/data"

}

params {

  //NB that task.memory causes some tools to fail, so using these predefs here
  full_javamem = "-Xmx120g"
  half_javamem = "-Xmx60g"
  quarter_javamem = "-Xmx30g"
  eighth_javamem = "-Xmx15g"
  twentieth_javamem = "-Xmx5g"

  //to allow use of a set of values for input, must initialise set object
  //this can then be tested and if params.set != false, use set here
  set = false
}

process {

  //executed on PBS, change for your system
  executor = "pbs"

  //container for all processes in reference-making
  container = "shub://brucemoran/Singularity:rnaseq_star-kallisto_references"

  //labels specifying requests for resources to system
  withLabel: full_cpu_mem {
      cpus = 40
      memory = 120.GB
      queue = 'batch'
  }
  withLabel: half_cpu_mem {
      cpus = 20
      memory = 60.GB
      queue = 'batch'
  }
  withLabel: quarter_cpu_mem {
      cpus = 10
      memory = 30.GB
      queue = 'batch'
  }
  withLabel: sixth_cpu_mem {
      cpus = 8
      memory = 24.GB
      queue = 'batch'
  }
  withLabel: eighth_cpu_mem {
      cpus = 5
      memory = 15.GB
      queue = 'batch'
  }
  withLabel: twentieth_cpu_mem {
      cpus = 2
      memory = 6.GB
      queue = 'batch'
  }
}

//'sets' of input that can be referred to on the command
//these are then used internally via "\$${params.set}{fa,gtf,cdna,vcf}"

env {

  //define fasta, gtf, cdna for hg38 human genome in Ensembl
  humanfa = "ftp://ftp.ensembl.org/pub/release-95/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
  humangtf = "ftp://ftp.ensembl.org/pub/release-95/gtf/homo_sapiens/Homo_sapiens.GRCh38.95.gtf.gz"
  humancdna = "ftp://ftp.ensembl.org/pub/release-95/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
  humanvcf = "ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606_b151_GRCh38p7/VCF/All_20180418.vcf.gz"

  //define fasta, gtf, cdna for Rnor_6.0 rat genome in Ensembl
  ratfa = "ftp://ftp.ensembl.org/pub/release-94/fasta/rattus_norvegicus/dna/Rattus_norvegicus.Rnor_6.0.dna.primary_assembly.fa.gz"
  ratgtf = "ftp://ftp.ensembl.org/pub/release-94/gtf/rattus_norvegicus/Rattus_norvegicus.Rnor_6.0.94.gtf.gz"
  ratcdna = "ftp://ftp.ensembl.org/pub/release-94/fasta/rattus_norvegicus/cdna/Rattus_norvegicus.Rnor_6.0.cdna.all.fa.gz"
  ratvcf = "ftp://ftp.ensembl.org/pub/release-95/variation/vcf/rattus_norvegicus/rattus_norvegicus.vcf.gz"
}
